{% extends 'bootstrap/base.html' %}

{% block title %}Restaurants{% endblock %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet"
          href="{{ url_for('.static', filename='css/styles.css') }}">
{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-sm-12">

                <h1>All Cafes</h1>
                {% for category, message in get_flashed_messages(with_categories=True) %}
                    <div class="alert alert-{{ category }}">{{ message }}</div>
                {% endfor %}
                <table class="table">
                    <!-- This is where you will write the code to render a Bootstrap
                    Table that contains all the information from the
                    cafe-data.csv file. -->
                    <thead>
                    <tr>
                        <th scope="col">Cafe Name</th>
                        <th scope="col">Location</th>
                        <th scope="col">Open</th>
                        <th scope="col">Close</th>
                        <th scope="col">Coffee</th>
                        <th scope="col">Wifi</th>
                        <th scope="col">Power</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for cafe in cafes %}
                        <tr>
                            <th scope="row">{{ cafe["name"] }}</th>
                            <td><a href="{{ cafe["location"] }}">Maps Link</a></td>
                            <td>{{ cafe["open_t"] }}</td>
                            <td>{{ cafe["close_t"] }}</td>
                            <td>{{ cafe["coffee_rate"] }}</td>
                            <td>{{ cafe["wifi_rate"] }}</td>
                            <td>{{ cafe["power_rate"] }}</td>
                            <td><a class="btn-warning btn-sm" href="{{ url_for('edit_cafe', pk=cafe._id) }}">Edit</a>
                            </td>
                            <td><a class="btn-danger btn-sm" href="{{ url_for('delete_cafe', pk=cafe._id) }}">Delete</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                <p><a href="{{ url_for('home') }}">Return to index page</a></p>

            </div>
        </div>
    </div>

{% endblock %}
